#programFirstStage {
  padding: 106px 0;
  /* background: #54544c; */
  /* background: #000; */
  background-color: transparent;
  background-image: url(../../Images/fondo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#programFirstStage h3 {
  /* color: #fff; */
  color: #e92530;
  text-align: left;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 auto 40px auto;
  font-family: 'larke_neueregular','Roboto',sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
.program_item {
  opacity: 0;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  margin-bottom: 30px;
  /* margin-bottom: 0px; */
  cursor: pointer;
  border: 1px solid #6f7071;
  /* background-image: url(../img/rest-bg.jpg); */
  background-image: none;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}

.external{
  background-image: url(../../Images/yoga.jpg);
  background-size: cover;
  height: 221.85px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  visibility: inherit;
  opacity: 1;
}
.external1{
  background-image: url(../../Images/Hip-Hop.jpg);
  background-size: cover;
  height: 221.85px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  visibility: inherit;
  opacity: 1;
}
.external2{
  background-image: url(../../Images/pilates.jpg);
  background-size: cover;
  height: 221.85px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  visibility: inherit;
  opacity: 1;
}
.external3{
  background-image: url(../../Images/Body-Balance-SW.jpg);
  background-size: cover;
  height: 221.85px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  visibility: inherit;
  opacity: 1;
}
.external4{
  background-image: url(../../Images/KICK_BOXING.jpg);
  background-size: cover;
  height: 221.85px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  visibility: inherit;
  opacity: 1;
}
.external5{
  background-image: url(../../Images/RPM-SW.jpg);
  background-size: cover;
  height: 221.85px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  visibility: inherit;
  opacity: 1;
}
.external6{
  background-image: url(../../Images/TAEKWONDO.jpg);
  background-size: cover;
  height: 221.85px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  visibility: inherit;
  opacity: 1;
}
.external7{
  background-image: url(../../Images/ZUMBA_TONING.jpg);
  background-size: cover;
  height: 221.85px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  visibility: inherit;
  opacity: 1;
}

.program_data {
  left: 16px;
  right: 0;
  padding-top: 9%;
  color: #fff;
  z-index: 3;
  line-height: .4em;
  font-size: 22px;
  font-weight: 700;
  transition: all 500ms ease;
  position: absolute;
}

.cssone{
  color: #fff;
  text-decoration: none;
}

.program_name, .program_kind {
  text-transform: uppercase;
  transition: all 500ms ease;
}
.auto{
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: left;
  padding-right: 16px;
  line-height: 12px;
  transition: all 500ms ease;
}
