<nav id="navigationbar" >
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
      <div id="brandInit">
        <a href=" " class="span"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-9 col-lg-9" style="padding-top: 13px;">
      <div class="row">
        <div class="col-xs-12">
          <div id="publicOptions">
            <ul class="menu">
              <li>
                <a>Sucursales</a>
              </li>
              <li>
                <a>Actividades</a>
              </li>
              <li>
                <a>Membresías</a>
              </li>
              <li>
                <a>Horarios</a>
              </li>
              <li>
                <a>Mi Cuenta</a>
              </li>
              <li class="onlineshop">
                <a class="aspecial">Compra en Linea</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="programFirstStage">
  <div id="ProgramGrid" class="container">
    <h3 class="uppercase text-center wow fadeInRight">CURSOS</h3>
    <div class="row">
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">AEROYOGA</p>

              <p class="auto">Es un servicio de entrenamiento en suspensión y en grupo, que unifica los beneficios de Pilates, Yoga y danza aérea.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external1" >
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">hip-hop</p>

              <p class="auto">Aprende a bailar como un profesional de HIP HOP, con nuestros mejores instructores</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external2">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">Pilates</p>

              <p class="auto">Desestrezate con esta magnifica disciplina de paz.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external3">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">Body Balance</p>

              <p class="auto">Programa de Acondicionamiento Coporal</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 63px;">
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external4">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">Kick Boxing</p>

              <p class="auto">Practica este deporte de contacto personal y vuelvete un profesional.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external5">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">RPM</p>

              <p class="auto">Fabuloso programa de ciclismo grupal para reducir calorias.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external6">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">TAEKWONDO</p>

              <p class="auto">Aprende tecnicas de defenza personal con este extraordinario curso.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external7">
          <div class="program_data">
            <a href="cursos.component.html" class="Zumba">
              <p class="program_name" style="line-height: 1.5em;">AEROYOGA</p>

              <p class="auto">Muevete al ritmo de la musica mientras tonificas tu cuerpo.</p>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<footer id="footbar">
  <div class="row no-margin black_row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <span id="swLogo"></span>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="footer_tab">
            <div class="footer_col text-center">
              <a class="footer_link">Comentarios</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="footer_tab">
            <div class="footer_col text-center">
              <a class="footer_link">Contactanos</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="footer_tab">
            <div class="footer_col text-center">
              <a class="footer_link">Aviso de Privacidad</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="footer_tab">
            <div class="footer_col text-center">
              <a class="footer_link">Dudas Frecuentes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
