#fullheight {
  padding: 76px 0 0 0;
  transition: all 500ms ease;
  min-height: inherit;
}
#membershipFrame {
  /* opacity: 0; */
  opacity: 1;
  /* background-color: #333; */
  background-color: #000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  box-shadow: inset -2px -11px 10px -5px rgba(0, 0, 0, 1);
}
#membershipTab {
  opacity: 1;
  text-align: center;
  padding-bottom: 80px;
}

#membershipTab .nav-tabs {
  width: 100%;
  text-align: center;
  background-color: #000;
  padding-top: 30px;
  border-bottom: none;
}
#membershipTab ul {
  display: inline-block;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
#membershipTab .nav-tabs > li:first-child {
  border-left: 1px solid #54534c;
}
#membershipTab .nav-tabs > li {
  border-right: 1px solid #54534c;
}
#membershipTab .nav-tabs > li {
  margin-bottom: 0px;
}
#membershipTab .nav-tabs li {
  float: none;
  display: inline-block;
}
#membershipTab .nav-tabs > li.active > a, #membershipTab #membershipTab .nav-tabs > li.active > a:focus, #membershipTab .nav-tabs > li.active > a:hover {
  color: black;
  border: none;
  background-color: white;
}
#membershipTab .nav-tabs > li > a {
  text-transform: uppercase;
  font-family: 'larke_neue_boldbold', 'Montserrat', sans-serif;
  font-size: 18px;
  -webkit-transition: all 500ms ease;
}
#membershipTabContent {
  max-width: 100%;
  position: relative;
  padding: 0 20px 20px 20px;
  top: -8px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.mainbox
{
  opacity: 1;
  width: 6545px;
  transform: translate3d(-1309px, 0px, 0px);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.tdiv
{
  width: 1339px;
  visibility: visible;
  animation-delay: 500ms;
  animation-name: fadeIn;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.tab_body {
  padding-top: 60px;
  letter-spacing: .08em;
}
.membership_description {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}
.membership_description p {
  padding: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'larke_neue_boldbold', Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
.membership_description p {
  padding: 0 !important;
  font-weight: 400;
}



