<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="CSS/styles.css">
</head>
<body>
<nav id="navigationbar" >
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
      <div id="brandInit">
        <a href=" " class="span"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-9 col-lg-9" style="padding-top: 13px;">
      <div class="row">
        <div class="col-xs-12">
          <div id="publicOptions">
            <ul class="menu">
              <li>
                <a>Sucursales</a>
              </li>
              <li>
                <a>Actividades</a>
              </li>
              <li>
                <a>Membresías</a>
              </li>
              <li>
                <a>Horarios</a>
              </li>
              <li>
                <a>Mi Cuenta</a>
              </li>
              <li class="onlineshop">
                <a class="aspecial">Compra en Linea</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="programFirstStage">
  <div id="ProgramGrid" class="container">
    <h3 class="uppercase text-center wow fadeInRight">CURSOS</h3>
    <div class="row">
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">AEROYOGA</p>

              <p class="auto">Es un servicio de entrenamiento en suspensión y en grupo, que unifica los beneficios de Pilates, Yoga y danza aérea.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external1" >
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">hip-hop</p>

              <p class="auto">Aprende a bailar como un profesional de HIP HOP, con nuestros mejores instructores</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external2">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">Pilates</p>

              <p class="auto">Desestrezate con esta magnifica disciplina de paz.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external3">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">Body Balance</p>

              <p class="auto">Programa de Acondicionamiento Coporal</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 63px;">
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external4">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">Kick Boxing</p>

              <p class="auto">Practica este deporte de contacto personal y vuelvete un profesional.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external5">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">RPM</p>

              <p class="auto">Fabuloso programa de ciclismo grupal para reducir calorias.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external6">
          <div class="program_data">
            <a href="cursos.component.html" class="cssone">
              <p class="program_name" style="line-height: 1.5em;">TAEKWONDO</p>

              <p class="auto">Aprende tecnicas de defenza personal con este extraordinario curso.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="  q-2   at-3   ob-1  ob-1 elemento col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="progam_item external7">
          <div class="program_data">
            <a href="cursos.component.html" class="Zumba">
              <p class="program_name" style="line-height: 1.5em;">AEROYOGA</p>

              <p class="auto">Muevete al ritmo de la musica mientras tonificas tu cuerpo.</p>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer>
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-1">
            <span id="swLogo"></span>
          </div>
        <div class="col-sm-11 col-md-10 col-lg-11">
          <ul class="list-inline">
            <li><a href="#">Comentarios</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Aviso de Privacidad</a></li>
            <li><a href="#">Dudas Frecuentes</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright text-center" style="background-color: #7D0B0B;">
        © 2018 Copyright: N.I.T.
    </div>
    <!--/.Copyright-->
  </footer>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
