{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>SportWorld</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href=" {% static 'cliente/styles.css' %} ">
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href=" {% static 'cliente/modern-business.css' %} ">
</head>
<body>
  <nav  class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{% url  'index'%}" class="navbar-brand">
          <img src=" {% static 'cliente/Images/logo.svg' %}" alt="Brand"/>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Actividades</a></li>
          <li><a href=" {% url  'membresias'%} ">Membresías</a></li>
          <li><a href="#">Horarios</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'login' %}">Login</a>
          <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Miguel Fernández <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Mi Cuenta</a></li>
              <li><a href="#">Mis Cursos</a></li>
              <li><a href="#">Mis instructores</a></li>
              <li class="divider"></li>
              <li><a href="#">Cerrar sesión</a></li>
            </ul>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
  <header>
    <div id="slide-principal" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#slide-principal" data-slide-to="0" class="active"></li>
        <li data-target="#slide-principal" data-slide-to="1"></li>
        <li data-target="#slide-principal" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="item active">
          <img src="{% static 'cliente/Images/gimnasio1.jpg' %}" alt="imagen1">
          <div class="carousel-caption">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="item">
          <img src="{% static 'cliente/Images/gimnasio2.jpg' %}" alt="imagen2">
          <div class="carousel-caption">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="item" >
          <img src="{% static 'cliente/Images/gimnasio3.jpeg' %}" alt="imagen3">
          <div class="carousel-caption">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#slide-principal" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#slide-principal" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  <div class="container">
      <br>
      <br>
      <br>
      <h1 class="my-4">Bienvenido a SportsWorld</h1>

        <!-- Marketing Icons Section -->
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio4.jpg' %}" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, esse!</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio5.jpg' %}" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, esse!</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio6.jpg' %}" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, esse!</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <h2>Portfolio Heading</h2>

        <div class="row">
          <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio7.jpg' %}" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Project One</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio8.png' %}" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Project Two</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio8.jpg' %}" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Project Three</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio9.jpg' %}" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Project four</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio10.jpg' %}" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Project Two</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="{% static 'cliente/Images/gimnasio11.jpg' %}" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Project Two</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
          </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
          <div class="col-lg-12 col-md-8">
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading">Modern Business Features</h4>
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                  <li>
                    <strong>Bootstrap v4</strong>
                  </li>
                  <li>jQuery</li>
                  <li>Font Awesome</li>
                  <li>Working contact form with validation</li>
                  <li>Unstyled page elements for easy customization</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
              </div>
              <div class="media-right">
                <a href="#">
                  <img class="media-object" src="{% static 'cliente/Images/ofertas.jpg' %}" alt="...">
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="row mb-4">
          <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
          </div>
          <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
          </div>
        </div>
  </div>
  <footer>
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-1">
            <span id="swLogo"></span>
          </div>
        <div class="col-sm-11 col-md-10 col-lg-11">
          <ul class="list-inline">
            <li><a href="#">Comentarios</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Aviso de Privacidad</a></li>
            <li><a href="#">Dudas Frecuentes</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright text-center" style="background-color: #7D0B0B;">
        © 2018 Copyright: N.I.T.
    </div>
    <!--/.Copyright-->
  </footer>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>